*{
    background-color: powderblue;
    font-size: 29px;
}

.ca {
   background-color: black;
   color: white;
   font-size: 37px;
   font-family: fantasy;

}

#bns {
   background-color: brown;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 34px;
}

h1 {
   color: darkcyan;
   background-color: whitesmoke;
}
[href="order-online"] {
   background-color: whitesmoke;
}
h2 {
   color: beige;
   
}

h3 {
   color: black;
}

[href="home"] {
   position: fixed;
   top: 0;
   right: 0;
   background-color:wheat;
   text-align: center;
   white-space: pre-line;
   padding: 3vw;
   border-radius: 4vw;
}

a{
white-space: pre-line;
}